@{ 
    Layout = "~/Views/Shared/_LayoutTurney.cshtml";
}
<section class="events" style="margin-top:auto;" id="events-section">
    <h1 style="color:white">Tournaments by Warunk Stream</h1>
    <div class="content-wrapper">
        <div class="inner-container container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="section-heading">
                        <div class="filter-categories">
                            <ul class="project-filter">
                                <li class="filter" data-filter="all"><span>Show All</span></li>
                                <li class="filter" data-filter="pubgm"><span>PUBG Mobile</span></li>
                                <li class="filter" data-filter="ml"><span>Mobile Legends</span></li>
                                <li class="filter" data-filter="ff"><span>Free Fire</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 col-sm-12 col-md-offset-1">
                    <div class="projects-holder">
                        <div class="event-list">
                            <ul>
                                @foreach (var item in Model)
                                {
                                    if (item.Categories == WarunkStream.Models.Categories.PUBGM)
                                    {
                                        <li class="project-item first-child mix pubgm">
                                            <ul class="event-item web">
                                                <li>
                                                    <div class="date">
                                                        <span>12<br>May</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h4>@item.TitleEvent</h4>
                                                    <div class="web">
                                                        <span>PUBG MOBILE</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time">
                                                        <span>8:00 AM - 11:00 AM<br>Saturday</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="white-button">
                                                        <a href="@Url.Action("Detail")">Register</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>


                                    }
                                    else if (item.Categories == WarunkStream.Models.Categories.ML)
                                    {
                                        <li class="project-item first-child mix ml">
                                            <ul class="event-item web">
                                                <li>
                                                    <div class="date">
                                                        <span>11<br>June</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h4>
                                                        @item.TitleEvent
                                                    </h4>
                                                    <div class="web">
                                                        <span>MOBILE LEGENDS</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="time">
                                                        <span>8:00 AM - 11:00 AM<br>Saturday</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="white-button">
                                                        <a href="@Url.Action("Detail")">Register</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                }



                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>