@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="content-main">
    <div class="contact-content-upper box">

        <div class="row">
            <div class="col-sm-12 col-md-12 contact_right">
                <div class="col-md-12 contact_title">
                    About Us
                </div>

                <div class="col-md-12 contact_text">
                    Warunk Stream adalah website penyedia turnamen game
                </div>
                <div class="col-md-12 contact_info">
                    <a class="contact-info-link">
                        <i class="fa fa-envelope contact-fa"></i>info@warunksofficial.com
                    </a><br />
                    <a class="contact-info-link">
                        <i class="fa fa-mobile contact-fa"></i>(+123) 456 7890
                    </a><br />
                    <a class="contact-info-link">
                        <i class="fa fa-phone contact-fa"></i>(+098) 765 4321
                    </a><br />
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-12 contact_title">
                    Media Patners
                </div>

                <div class="elementor-widget-container">
                    <style>
                        .partner {
                            display: inline-block;
                            padding: 6px 9px 6px 9px;
                        }

                            .partner img {
                                transition: transform 0.2s;
                                -webkit-transition: -webkit-transform 0.2s;
                                -moz-transition: -moz-transform 0.2s;
                                -o-transition: -o-transform 0.2s
                            }

                                .partner img:hover {
                                    transform: scale(1.05);
                                    -ms-transform: scale(1.05);
                                    -webkit-transform: scale(1.05);
                                    -moz-transform: scale(1.05);
                                    -o-transform: scale(1.05);
                                }
                    </style>

                    <div id="container">

                        <a href="https://www.barakata.id/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/barakata.id.png" style="height:25px" />
                        </a>
                        <a href="https://www.esportsku.com/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/esportsku.com.png" style="height:20px" />
                        </a>
                        <a href="https://www.indonesports.id/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/indonesports.id.png" style="height:25px" />
                        </a>
                        <a href="https://www.klikwarta.com/" class="partner">
                            <img src="https://cardse.net/i/2020/05/07/klikwarta.com.png" style="height:20px" />
                        </a>
                        <a href="https://www.liputan.co.id/" class="partner">
                            <img src="https://cardse.net/i/2020/05/07/liputan.co.id.png" style="height:20px" />
                        </a>
                        <a href="https://www.panpanplay.com/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/panpanplay.com.png" style="height:25px" />
                        </a>
                        <a href="https://www.realitakini.com/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/realitakini.com.png" style="height:25px" />
                        </a>
                        <a href="https://www.skor.id/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/skor.id.png" style="height:20px" />
                        </a>
                        <a href="https://www.surgatekno.com/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/surgatekno.com.png" style="height:20px" />
                        </a>
                        <a href="https://www.tourney.id/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/tourney.id.png" style="height:20px" />
                        </a>
                        <a href="https://www.wajoterkini.com/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/wajoterkini.com.png" style="height:25px" />
                        </a>
                        <a href="https://www.koranindonesia.id/" class="partner">
                            <img src="https://cardse.net/i/2020/05/07/koranindonesia.id.png" style="height:30px" />
                        </a>
                        <a href="https://www.liputanoke.com/" class="partner">
                            <img src="https://cardse.net/i/2020/05/07/liputanoke.com.png" style="height:30px" />
                        </a>
                        <a href="https://www.instagram.com/wkwkgamingid/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/wkwkgamingid.png" style="height:30px" />
                        </a>

                        <a href="https://www.apahabar.com/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/apahabar.com.png" style="height:20px" />
                        </a>
                        <a href="https://www.detikglobalnews.com/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/detikglobalnews.com.png" style="height:15px" />
                        </a>
                        <a href="https://www.esportsnesia.com/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/esportsnesia.com.png" style="height:15px" />
                        </a>
                        <a href="https://www.infotourney.com/" class="partner">
                            <img src="https://cardse.net/i/2020/05/07/infotourney.com.png" style="height:10px" />
                        </a>
                        <a href="https://www.facebook.com/intensegaming.id//" class="partner">
                            <img src="https://cardse.net/i/2020/05/07/intensegaming.png" style="height:30px" />
                        </a>
                        <a href="https://www.media.skyegrid.id/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/media.skyegrid.id.png" style="height:15px" />
                        </a>
                        <a href="https://www.pesisirnews.com/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/pesisirnews.com.png" style="height:15px" />
                        </a>
                        <a href="https://www.ewarta.co/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/ewarta.co.png" style="height:25px" />
                        </a>
                        <a href="https://www.instagram.com/infotournament/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/infotournament.png" style="height:25px" />
                        </a>
                        <a href="https://www.instagram.com/tentanggame/" class="partner">
                            <img src="https://cardse.net/i/2020/04/28/tentanggame.png" style="height:25px" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
