@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
    <div class="content-main">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box bottom-main">
                    <div class="info float-container">
                        <div class="col-sm-12 bottom-title">
                            <h3 class="text-uppercase">KATEGORI</h3>
                        </div>
                        <div class="row">
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="bottom-img">
                                    <img src="https://i.pinimg.com/originals/f7/43/c4/f743c45a69f00a4d6254ce42f3803dd1.jpg" alt="Image">
                                    <p class="contact">PUBG Mobile</p>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="bottom-img">
                                    <img src="https://i.ibb.co/XDB1w8H/Desain-tanpa-judul-1.png" alt="Image">
                                    <p class="contact">Mobile Legends</p>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="bottom-img">
                                    <img src="https://i.ibb.co/THf7Wck/Desain-tanpa-judul-2.png" alt="Image">
                                    <p class="contact">Free Fire</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box bottom-main">
                    <div class="info float-container">
                        <div class="col-sm-12 bottom-title">
                            <h3 class="text-uppercase">Last Tim Winner</h3>

                        </div>
                        <table class="table table-bordered">
                            <tr>
                                <th>Nama Tim</th>
                                <th>Kategori</th>
                                <th>Nama Turnamen</th>
                            </tr>
                            <tr>
                                <td>WarunkS'Squad</td>
                                <td>PUBG Mobile</td>
                                <td>TURNAMEN PUBG MOBILE - AIROKES SEASON 1</td>
                            </tr>
                            <tr>
                                <td>LRxPubic</td>
                                <td>PUBG Mobile</td>
                                <td>TURNAMEN PUBG MOBILE - AIROKES SEASON 2</td>
                            </tr>
                            <tr>
                                <td>WarunkS'Squad</td>
                                <td>Mobile Legends</td>
                                <td>TURNAMEN MOBILE LEGENDS - WKS PROJECT SEASON 7</td>
                            </tr>
                            <tr>
                                <td>WarunkS'Squad</td>
                                <td>PUBG Mobile</td>
                                <td>TURNAMEN PUBG MOBILE - AIROKES SEASON 1</td>
                            </tr>
                            <tr>
                                <td>WarunkS'Squad</td>
                                <td>PUBG Mobile</td>
                                <td>TURNAMEN PUBG MOBILE - AIROKES SEASON 1</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
