@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
    <div class="content-main">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box bottom-main">
                    <div class="info float-container">
                        <div class="col-sm-12 bottom-title">
                            <h3 class="text-uppercase">Proin gravida nibhvel</h3>
                            <h4 class="text-uppercase">mauris vitae erat</h4>
                        </div>
                        <div class="row">
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="bottom-img">
                                    <img src="images/home-img-4.jpg" alt="Image">
                                    <p class="first">Sollicitudin nibh</p>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="bottom-img">
                                    <img src="images/home-img-5.jpg" alt="Image">
                                    <p class="second">duis sedio amiet</p>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="bottom-img">
                                    <img src="images/home-img-6.jpg" alt="Image">
                                    <p class="third">Nec sagittis seim</p>
                                </div>
                            </div>
                        </div>
                        <p class="bottom-desc">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. </p><hr />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="box bottom-main">
                    <div class="info float-container">
                        <div class="col-sm-12 bottom-title">
                            <h3 class="text-uppercase">Proin gravida nibhvel</h3>
                            <h4 class="text-uppercase">mauris vitae erat</h4>
                        </div>
                        <div class="row">
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="bottom-img">
                                    <img src="images/home-img-4.jpg" alt="Image">
                                    <p class="first">Sollicitudin nibh</p>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="bottom-img">
                                    <img src="images/home-img-5.jpg" alt="Image">
                                    <p class="second">duis sedio amiet</p>
                                </div>
                            </div>
                            <div class="col-xxs-12 col-xs-6 col-sm-6 col-md-4 col-lg-4">
                                <div class="bottom-img">
                                    <img src="images/home-img-6.jpg" alt="Image">
                                    <p class="third">Nec sagittis seim</p>
                                </div>
                            </div>
                        </div>
                        <p class="bottom-desc">Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. </p><hr />
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
