@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="content-main">
    <div class="row margin-b-30">
        <div class="col-xs-12 col-sm-12 col-md-12 biliend">
            <div class="banner-2-container">
                <div class="proin-title">
                    <h4>Jumat, 2 Mei 2020</h4>
                    <h3>Tournament</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row"> -->
    <div class="about-last-container">
        <!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> -->
        <div class="bottom-main info-nav-container">
            <ul class="info info-ul g-bg-white">
                <li><a href="#"><span class="g-color-primary g-color-red--hover">Turnamen PUBG Mobile #1</span></a></li>
                <li><a href="#"><span class="g-color-primary g-color-red--hover">Turnamen PUBG Mobile #12</span></a></li>
                <li><a href="#"><span class="g-color-primary g-color-red--hover">Turnamen Mobile Legends #7</span></a></li>
                <li><a href="#"><span class="g-color-primary g-color-red--hover">Turnamen Free Fire #5</span></a></li>
                <li><a href="#"><span class="g-color-primary g-color-red--hover">Turnamen PUBG Mobile #3</span></a></li>
            </ul>
        </div>
        <!-- </div> -->
        <!-- <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8"> -->
        <div class="box bottom-main info-description-container">
            <div class="info">
                <div class="proin-title">
                    <h3>Turnamen PUBG Mobile - AIROKES SEASON 1</h3>
                    <h4>22 - 23 Mei 2020</h4>
                </div>
                <img src="https://s3-ap-southeast-1.amazonaws.com/ies-public-storage/images/air-rokes.jpeg" alt="Image" class="img-responsive">
                <p class="proin-right-text g-font-size-14">
                    Biaya pendaftaran IDR 25.000,- / Slot
                    Venue : Online
                    Open 100 Slot
                    Multi Slot On
                    No Emulator | Mobile Only
                    No Cheat | No Teaming
                    Squad Mode
                    Sistem Point
                    Kualifikasi 3 Match : Vikendi TPP + Miramar TPP + Sanhok TPP
                    Grand Final 3 Match : Vikendi TPP + Miramar TPP + Sanhok TPP
                </p>
                <a class="btn btn-success" href="@Url.Action("Register")">Daftar</a>
            </div> <!-- .info -->
        </div>
        <!-- </div> -->
    </div>
</div> 
