@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<div class="content-main">
    <div class="contact-content-upper box">
        <div class="row">
            <div class="col-sm-12 col-md-6  contact_right">
                <div class="info">
                    <div class="proin-title">
                        <h3>Turnamen PUBG Mobile - AIROKES SEASON 1</h3>
                        <h4>22 - 23 Mei 2020</h4>
                    </div>
                    <img src="https://s3-ap-southeast-1.amazonaws.com/ies-public-storage/images/air-rokes.jpeg" alt="Image" class="img-responsive">
                    <p class="proin-right-text">
                        Biaya pendaftaran IDR 25.000,- / Slot
                        Venue : Online
                        Open 100 Slot
                        Multi Slot On
                        No Emulator | Mobile Only
                        No Cheat | No Teaming
                        Squad Mode
                        Sistem Point
                        Kualifikasi 3 Match : Vikendi TPP + Miramar TPP + Sanhok TPP
                        Grand Final 3 Match : Vikendi TPP + Miramar TPP + Sanhok TPP
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 contact_left">
                <div class="proin-title">
                    <h3>Isi data tim kamu</h3>
                </div>
                <form class="form-horizontal" method="post" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nama Tim" value="">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="No WA/Telp" value="">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Nick Player 1" value="">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Nick Player 1" value="">
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Nick Player 2" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Nick Player 3" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Nick Player 4" value="">
                    </div>


                    <div class="form-group">
                        <input id="submit" name="submit" type="submit" value="Daftar" class="btn view_more btn-submit">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>